.banner{
    text-align: center;
}

.title{
    text-align: center;
}

.projects,.education,.work_experience{
    border: solid black 2px;
    padding: 2em 5em 2em 5em;
}
.about{
    padding-top: 5em;
    padding-bottom: 5em;
}