.banner{
    text-align: center;
}

.title{
    text-align: center;
}

.projects,.education,.work_experience{
    border: solid #B6B6B6 2px;
    padding: 2em 5em 2em 5em;
}
.about{
    padding-top: 10em;
    padding-bottom: 5em;
}

#main_image{
    border: solid white 2px;
}
